{
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
      "prettier/prettier": ["error"],
      "react/react-in-jsx-scope": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "react/prop-types": "off"
  }
}