@use 'src/shared/styles/variables/spaces.module.sass' as spaces
@use 'src/shared/styles/variables/colors.module.sass' as colors

.messageList
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-end
    gap: spaces.$space-s
    padding: spaces.$space-m
    width: 100%
    overflow-y: scroll
    overflow-x: hidden
    background-color: colors.$tertiary